
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if d_type == "distributor" %}
        <title>List of Distributors</title>
    {% else %}
        <title>List of Retailers</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="file://{{static}}build/css/bootstrap.min.css" rel="stylesheet">
    <link href="file://{{static}}css/report.css" rel="stylesheet">
</head>

<body>
    <div class="body">
        <!-- header -->
        <div class="header">
            <!-- info row -->
            <div class="row">
                <div class="col-xs-4 header-col right">
                    <p>Printed by: {{tenant}}</p>
                    <p>Date: {{date}}</p>
                </div>
                <!-- /.col -->
                <div class="col-xs-4 header-col center">
                    <img src="file://{{logo}}" class="logo" alt="Nock Logo">
                    <br>
                    {% if d_type == "distributor" %}
                        <h2>Distributors Report</h2>
                    {% elif d_type == "retailer" %}
                        <h2>Retailers Report</h2>
                    {% endif %}
                </div>
                <!-- /.col -->
                <div class="col-xs-4 header-col left">
                    <P><b>National Oil Corporation of Kenya</b><br>
                        KAWI house – South C Redcross Road,<br>
                        Off Popo Road<br>
                        Telephone: +254-20-695 2000</P>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!--/.header -->

        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped">
                    <thead>
                    {% if d_type == "distributor" %}
                        <tr>
                            <th>No .</th>
                            <th>Name</th>
                            <th>Distributor Code</th>
                            <th>County</th>
                            <th>Active</th>
                            <th>Date Joined</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Address</th>
                        </tr>
                    {% elif d_type == "retailer" %}
                        <tr>
                            <th>No .</th>
                            <th>Name</th>
                            <th>Retailer Code</th>
                            <th>Sub County</th>
                            <th>Active</th>
                            <th>Distributor</th>
                            <th>Date Joined</th>
                            <th>Phone</th>
                            <th>Email</th>
                        </tr>
                    {% endif %}
                    </thead>
                    <tbody>
                        {% for report in reports %}
                            {% if d_type == "distributor"%}
                                <tr>
                                    <td>{{ forloop.counter }} {{ report.reports }} </td>
                                    <td>{{report.name}}</td>
                                    <td>{{report.agent_number}}</td>
                                    <td>{{report.region}}</td>
                                    <td>{{report.active}}</td>
                                    <td>{{report.date_joined}}</td>
                                    <td>{{report.email}}</td>
                                    <td>{{report.phone}}</td>
                                    <td>{{report.address}}</td>
                                </tr>
                            {% elif d_type == "retailer" %}
                                <tr>
                                    <td>{{ forloop.counter }} {{ report.reports }} </td>
                                    <td>{{report.name}}</td>
                                    <td>{{report.agent_number}}</td>
                                    <td>{{report.sub_region}}</td>
                                    <td>{{report.active}}</td>
                                    <td>{{report.distributor}}</td>
                                    <td>{{report.date_joined}}</td>
                                    <td>{{report.email}}</td>
                                    <td>{{report.phone}}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- .footer -->
        <!-- /.footer -->
    </div>
    <!-- /.row -->
</body>

</html>