{% extends "page.html" %}
{% load sass_tags %} {% load widget_tweaks %} {% load static %} {% load i18n %}
{% block title %} Create Distributor{% endblock title %}

{% block page %}
    {% load crispy_forms_tags %}
    {% include 'messages.html' %}
    {% if form.non_field_errors %}
        <div id="messages">
        {% for message in form.non_field_errors %}
        <div class="alert alert-dismissible alert-danger"
            role="alert">
            <button type="button" class="close" data-dismiss="alert"
                    aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            {{ message|escape }}
        </div>
        {% endfor %}
        </div>
    {% endif %}
    <form class="form-narrow form-2col" id="distributor-form" method="POST" action="" data-parsley-validate data-parsley-excluded=":hidden">
        {% csrf_token %} {{ wizard.management_form }}
        <div class="row">
            <span style="font-size: 35px;">Create New Distributor</span>
            <p><b>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</b></p>
            <hr>
        </div>
        <div class="row">
            <!-- AGENT EMAIL -->
            <div class="form-group{% if form.agent_email.errors %} has-error{% endif %}">
                <label class="control-label" for="id_agent_email">{% trans "Agent Email" %}</label>
                {% render_field form.agent_email class+="form-control input-lg" %}
                <div class="error-block">{{ form.agent_email.errors }}</div>
            </div>
        </div>

        <!-- REDIRECT -->
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}

        <div class="text-right m-t-30">
            {% if wizard.steps.prev %}
                <button name="wizard_goto_step" formnovalidate type="submit" value="{{ wizard.steps.prev }}" class="btn btn-default btn-fill btn-wd btn-next btn-reset">{% trans "PREVIOUS" %}</button>
            {% endif %}
            <button type="submit" class="btn btn-success btn-fill btn-wd btn-next">FINISH</button>
        </div>

    </form>

{% endblock page %}