{% extends "account/snippets/base.html" %}
{% load sass_tags %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}

{% block title %} Sign In {% endblock title %}

{% block content %}
<form class="login-form form-narrow" method="POST" action="{% url 'account_login' %}" data-parsley-validate>
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ request.GET.next }}"/>
  <div class="form-inner">
    <h4>{% trans "Sign in to your account" %}</h4>
    <div class="form-group{% if form.login.errors %} has-error{% endif %}">
      <label class="control-label" for="id_login">{% trans "Email address, or phone number" %}</label>
      {% render_field form.login class+="form-control input-lg" placeholder="" data-parsley-required="true" %}
      <div class="error-block">{{ form.login.errors }}</div>
    </div>

    <div class="form-group{% if form.password.errors %} has-error{% endif %}">
      <label class="control-label" for="id_password">{% trans "Password" %}</label>
      {% render_field form.password class+="form-control input-lg" placeholder="" data-parsley-required="true" %}
      <div class="error-block">{{ form.password.errors }}</div>
    </div>

    <div class="small pull-right">
      <a href="{% url 'account_reset_password' %}">
        {% trans "Forgotten password?" %}
      </a>
    </div>

    <div class="checkbox pull-left">
      <label>
        <input id="id_remember" label="{% trans 'Remember me' %}"
                name="remember" type="checkbox" />
        {% trans "Remember me" %}
      </label>
    </div>

    <button name="sign-in" type="submit"
            class="btn btn-success btn-lg btn-block text-uppercase">
      {% trans "Sign In" %}
    </button>

    <p class="text-center">
      {% trans "Don't have an account?" %}
      <a href="{% url 'account_signup' %}{% if redirect_field_value %}?next={{ redirect_field_value }}{% endif %}">{% trans "Register here" %}</a>
    </p>
  </div>

</form>

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
{{block.super}}
{% endblock javascripts %}
{% endblock content %}
