{% extends "account/snippets/base.html" %}
{% load sass_tags %}
{% load i18n %}

{% block stylesheets %}
  {{ block.super }}
  <link href="{% sass_src 'scss/reg.scss' %}" rel="stylesheet" type="text/css">
{% endblock stylesheets %}

{% block top-nav %}registration{% endblock %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<form class="narrow" method="post" action="{% url 'account_logout' %}">
{% csrf_token %}

  <h1>{% trans "Sign out" %}</h1>

  <p>{% trans 'Are you sure you want to sign out?' %}</p>

  {% if redirect_field_value %}
  	<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  
  <button class="btn btn-primary btn-block" type="submit">{% trans 'Sign Out' %}</button>
</form>

{% endblock %}