{% extends "account/snippets/base.html" %}
{% load sass_tags %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
{% block stylesheets %}
  {{ block.super }}
  <link href="{% sass_src 'scss/reg.scss' %}" rel="stylesheet" type="text/css">
{% endblock stylesheets %}
<div class="narrow">
    <h1>{% trans "Change password" %}</h1>
    <p>{% trans 'Your password is now changed.' %}</p>
    <p class="text-center"><a href="{% url 'account:login' %}">Click here</a> to login.</p>
</div>

{% endblock %}