{% extends "account/snippets/base.html" %}
{% load sass_tags %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block extra_script %}
<script src="{% static 'js/parsleyAddValidator.js' %}"></script>
<script src="{% static 'js/password_widget.js' %}"></script>
<script src="{% static 'js/libphonenumber/libphonenumber-js.min.js' %}"></script>
{% endblock %}

{% block content %}
{% block stylesheets %}
  {{ block.super }}
  <link href="{% sass_src 'scss/reg.scss' %}" rel="stylesheet" type="text/css">
{% endblock stylesheets %}
<div class="narrow">
    <h1>{% if token_fail %}{% trans "Bad token" %}{% else %}{% trans "Change your password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="." data-parsley-validate>
                {% csrf_token %}
                <input type="hidden" id="id_username" value="{{ user.username }}">
                <input type="hidden" id="id_email" value="{{ user.email }}">
                <input type="hidden" id="id_phone" value="{{ user.phone }}">

                <div class="form-group{% if form.password.errors %} has-error{% endif %}">
                    <label class="control-label" for="id_password">{% trans "Enter a new password" %}</label>
                    <div class="input-group input-group-lg">
                        {% render_field form.password class+="form-control" placeholder="" data-parsley-required="true" data-parsley-minlength="10" data-parsley-character="3" data-parsley-userfield="1" data-parsley-emailfield="1" data-parsley-phonefield="1" data-parsley-sanitize="1" data-parsley-errors-container="#password-errors" %}
                        <span class="input-group-btn">
                            <button class="btn" type="button">
                                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                    <p class="help-block small">{% trans "Passwords must have a minimum of 10 characters and contain at least 3 of the following: lowercase characters, uppercase characters, special characters, and/or numerical characters.  Passwords cannot contain the username or email address." %}</p>
                    <div id="password-errors"></div>
                    <div class="error-block">{{ form.password.errors }}</div>
                </div>

                <input class="btn btn-primary btn-lg btn-block text-uppercase" type="submit" name="action" value="{% trans 'Change password' %}"/>

            </form>
        {% else %}
            <p class="text-center">{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
</div>

{% endblock %}
