{% extends "account/snippets/base.html" %}
{% load sass_tags %}
{% load i18n %}
{% load account %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
{% block stylesheets %}
  {{ block.super }}
  <link href="{% sass_src 'scss/reg.scss' %}" rel="stylesheet" type="text/css">
{% endblock stylesheets %}
<div class="narrow">

    <h1>{% trans "Password reset" %}</h1>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    {% if phone %}
    <p>{% blocktrans %}Your phone number has been submitted. If it matches your account on Gas Yetu, you will receive a token shortly. If the token matches, you will be further allowed to reset your password. Please <a href="mailto:support@gasyetu.co.ke">contact us</a> if you require assistance.{% endblocktrans %}</p>

    <form class="form-narrow" action="{% url 'account:account_reset_password_done' %}" method="post">
        {% csrf_token %}
        <div class="form-group{% if form.token.errors %} has-error{% endif %}">
        <label class="control-label" for="{{ form.token.id_for_label }}">{% trans "Token" %}</label>
        {% render_field form.token class+="form-control input-lg" data-parsley-required="true" data-parsley-sanitize="1" %}
        <div class="error-block">{{ form.token.errors }}</div>
        {{ form.non_field_errors }}
      </div>
      <button type="submit" name="Verify" class="btn btn-primary btn-lg btn-block text-uppercase">{% trans "Verify Token" %}</button>
    </form>
    {% url 'account:account_reset_password' as resend_url %}
    <p class="text-center">{% blocktrans %}<a href="{{ resend_url }}">Click here</a> to try password reset again.{% endblocktrans %}</p>
    {% else %}
    <p>{% blocktrans %}Your email address has been submitted. If it matches your account on Gas Yetu, you will receive an email shortly with instructions for resetting your password. Please <a href="mailto:support@gasyetu.co.ke">contact us</a> if you require assistance.{% endblocktrans %}</p>
    {% endif %}
</div>

{% endblock %}
