{% extends "tables.html" %}
{% load sass_tags %}
{% load cloudinary %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}

{% block title %} Distributors {% endblock title %}

{% block javascripts %}
{{ block.super }}
<script src="{% static 'js/parsleyAddValidator.js' %}"></script>
<script src="{% static 'js/libphonenumber/libphonenumber-js.min.js' %}"></script>
{{ form.media }}
{% endblock %}

{% block page %}

{% block stylesheets %}
  {{ block.super }}
  <link href="{% sass_src 'scss/profile.scss' %}" rel="stylesheet" type="text/css">
{% endblock stylesheets %}
{% include 'messages.html' %}
<form class="profile-form" method="POST" action="{% url 'account:profile' %}" data-parsley-validate enctype="multipart/form-data">
  {% csrf_token %}
  <div class="panel panel-default form-narrow form-2col">
    <div class="panel-body">
      {{ form.non_field_errors }}
      <h1>{% trans "Update your profile" %}</h1>
      <div class="row">
        <div class="col-md-8">
          <!-- input profile fields -->
          <div class="form-group{% if form.username.errors %} has-error{% endif %}">
            <label class="control-label" for="{{ form.username.id_for_label }}">{% trans "Username" %}</label>
            {% render_field form.username class+="form-control input-lg" data-parsley-required="true" data-parsley-sanitize="1" %}
            <div class="error-block">{{ form.username.errors }}</div>
          </div>
          {% url 'account:resend_token' as resend_url %}

          {% if form.instance.email %}
          <div class="form-group{% if form.email.errors %} has-error{% endif %}">
            <label class="control-label" for="{{ form.email.id_for_label }}">{% trans "Email" %}</label>
            {% render_field form.email class+="form-control input-lg" data-parsley-sanitize="1" %}
            {% if emails_to_verify %}
              <p class="help-block small">{% blocktrans %} The email for this account has been changed recently, but the new email address has not yet been verified. You should have received an email with a link to verify the new email address. To manually verify the new email address, click <a href="{{ resend_url }}">here.</a>{% endblocktrans %}</p>
            {% endif %}
            <div class="error-block">{{ form.email.errors }}</div>
          </div>
          {% endif %}

          {% if form.instance.phone %}
          <div class="form-group{% if form.phone.errors %} has-error{%endif%}">
            <label class="control-label" for="{{ form.phone.id_for_label }}">{% trans "Phone" %}</label>
            {% render_field form.phone class+='form-control input-lg' data-parsley-validation-threshold="1" data-parsley-phonenumber="1" data-parsley-phoneplus="1" data-parsley-phonelength="1" data-parsley-errors-container="#phone-errors" %}
              {% if phones_to_verify %}
                <p class="help-block small">{% blocktrans %} The phone for this account has been changed recently, but the new phone number has not yet been verified. To verify the new phone number, click <a href="{{ resend_url }}"> here.</a>{% endblocktrans %}</p>
              {% endif %}
              <div id="phone-errors"></div>
              <div class="error-block">{{ form.phone.errors }}</div>
          </div>
          {% endif %}

          <div class="form-group{% if form.first_name.errors %} has-error{% endif %}">
            <label class="control-label" for="{{ form.first_name.id_for_label }}">{% trans "First name" %}</label>
            {% render_field form.first_name class+="form-control input-lg" data-parsley-sanitize="1" %}
            <div class="error-block">{{ form.first_name.errors }}</div>
          </div>
          <div class="form-group{% if form.last_name.errors %} has-error{% endif %}">
            <label class="control-label" for="{{ form.last_name.id_for_label }}">{% trans "Last name" %}</label>
            {% render_field form.last_name class+="form-control input-lg" data-parsley-sanitize="1" %}
            <div class="error-block">{{ form.last_name.errors }}</div>
          </div>
        </div>
        <div class="col-md-4">
          <!-- input profile avatar -->
          <div class="form-group{% if form.image.errors %} has-error{% endif %}">
            <label class="control-label" for="{{ form.image.id_for_label }}">{% trans "Profile picture" %}</label>
            <div class="well text-center">        
              <div id="preview-box" class="center-block">
                {% cloudinary user.image format="jpg" width=150 height=150 crop="fill" %}
              </div>
              <p class="help-block small">{% trans "For best results upload a square image, ideally 200x200 pixels." %}</p>
              {% render_field form.image class+="form-control input-lg" data-parsley-sanitize="1" %}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="well form-group {% if form.password.errors %} has-error{% endif %}">
            <label class="control-label" for="{{ form.password.id_for_label }}">{% trans "Password" %}</label>
            <p class="help-block small">{% trans "Please enter your password to verify your identity." %}</p>
            {% render_field form.password class+="form-control input-lg" data-parsley-required="true" data-parsley-sanitize="1" %}
            <div class="error-block">{{ form.password.errors }}</div>
          </div>
        </div>
        <div class="col-md-4">
          <h5>{% trans "Password options" %}</h5>
          <ul>
              <li>
                <a href="{% url 'account_change_password' %}">
                  {% trans "Change password" %}
                </a>
              </li>
              <li>
                <a href="{% url 'account_reset_password' %}">
                  {% trans "Reset password" %}
                </a>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel-footer panel-buttons text-center">
      <button name="update" type="submit" class="btn btn-primary">{% trans "Save" %}</button>
      <a href="{% url 'distributors' %}" class="btn btn-default">{% trans "Cancel" %}</a>
    </div>
  </div>
</form>

{% endblock %}
