{% extends "account/snippets/base.html" %}
{% load sass_tags %}
{% load static %}
{% load i18n %}

{% load widget_tweaks %}

{% block title %} | {% trans "Verify Account" %}{% endblock %}



{% block content %}

{% block javascripts %}
{{ block.super }}
<script src="{% static 'js/parsleyAddValidator.js' %}"></script>
<script src="{% static 'js/togglePhoneEmail.js' %}"></script>
<script src="{% static 'js/libphonenumber/libphonenumber-js.min.js' %}"></script>
{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <link href="{% sass_src 'scss/reg.scss' %}" rel="stylesheet" type="text/css">
{% endblock stylesheets %}

<div class="narrow">
    <h1>
        {% trans "Verify Account" %}
    </h1>
    <form method='POST' id="verification-form" action="{% url 'account:resend_token' %}" class="form" data-parsley-validate data-parsley-excluded=":hidden">
        {% csrf_token %}
        <div id="email-div" class="verifyDiv email clearfix form-group{% if form.email.errors %} has-error{% endif %}">
            <p>{% trans "To receive a new verification link enter your email address."%}</p>
            <label class="control-label" for="id_email">{% trans "Email" %}</label>
            {% render_field form.email class+="form-control input-lg" data-parsley-sanitize="1" data-parsley-required="true" %}
            <div class="error-block">{{ form.email.errors }}</div>
            <div>
                <a href="#phone-div" class="btn btn-xs btn-link pull-right show-verifyDiv" data-verify="phone" id="phone-btn">{% trans "I want to verify my phone" %}</a>
            </div>
        </div>

        <div id="phone-div" class="verifyDiv phone clearfix form-group{% if form.phone.errors %} has-error{% endif %} hidden">
            <p>{% trans "To receive a new verification token enter your phone number."%}</p>
            <label class="control-label" for="id_phone">{% trans "Phone" %}</label>
            {% render_field form.phone class+="form-control input-lg" placeholder="07xxxxxxxx" data-parsley-required="true" data-parsley-errors-container="#phone-errors" %}
            <p class="help-block small">{% trans "Phone numbers must start 07 and have 10 digits" %}</p>
            <div id="phone-errors"></div>
            <div class="error-block">{{ form.phone.errors }}</div>
            <div class="clearfix">
                <a href="#email-div" class="btn btn-xs btn-link pull-right show-verifyDiv" data-verify="email" id="email-btn">{% trans "I want to verify my email" %}</a>
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block text-uppercase" >
            {% trans 'Send Verification' %}
        </button>
    </form>
</div>
{% endblock %}

