{% extends "account/snippets/base.html" %} {% load sass_tags %} {% load widget_tweaks %} {% load static %} {% load i18n %}
{% block title %} Sign Up {% endblock title %} {% block content %}
{% include 'messages.html' %}
{% if form.non_field_errors %}
    <div id="messages">
    {% for message in form.non_field_errors %}
    <div class="alert alert-dismissible alert-danger"
        role="alert">
        <button type="button" class="close" data-dismiss="alert"
                aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        {{ message|escape }}
    </div>
    {% endfor %}
    </div>
{% endif %}
{% block inner_content %}
{% endblock inner_content %}

{% block javascripts %} {{ block.super }}
<script src="{% static 'js/password_widget.js' %}"></script>
<script src="{% static 'js/parsleyAddValidator.js' %}"></script>
<script src="{% static 'js/togglePhoneEmail.js' %}"></script>
<script src="{% static 'js/libphonenumber/libphonenumber-js.min.js' %}"></script> {% endblock %} {% endblock content %}