{% extends "tables.html" %} {% block page %}
{% block title %} Cylinders {% endblock title %}

<p class="text-muted font-13 m-b-30">
    Manage the list of cylinders here
</p>

<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th class="dt-center"></th>
            <th class="dt-center"></th>
        </tr>
    </thead>
    <tbody>
        {% for cylinder in cylinders %}
        <tr>
            <td>{{cylinder.title}}</td>
            <td class="last">
                <a style='color:green' href='{% url 'cylinder-update' cylinder.id %}'>Edit</a>
            </td>
            <td class=" last">
                <a style='color:red' href="{% url 'cylinder-delete' cylinder.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-primary btn-lg btn-block" href="{% url 'cylinder-create'%}" role="button">Create New Cylinder</a>
{% endblock page %} {% block extended_js %}
<script>
    $('#datatable-responsive').dataTable({
        columnDefs: [
            { targets: [1, 2], "orderable": false },
        ]
    });
</script> {% endblock extended_js %}