{% extends "page.html" %}
{% block title %} Order Details{% endblock title %}
{% block page %}
{% load humanize %}
{% load widget_tweaks %}
{% include 'messages.html' %}
<section class="content invoice">
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12 invoice-header">
            <h1>
                <i class="fa fa-shopping-cart"></i> Fulfill Order
                <small class="pull-right">{{order.order_date}}</small>
            </h1>
        </div>
        <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
            From
            <address>
                <strong>{{buyer_names}}</strong>
                <br>{{buyer_county}}, {{buyer_sub_county}}
                <br>Phone: {{buyer_phone}}
                <br>Email: {{buyer_email}}
            </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            To
            <address>
                <strong>{{seller_names}}</strong>
                <br>{{seller_county}}, {{seller_sub_county}}
                <br>Phone: {{seller_phone}}
                <br>Email: {{seller_email}}
            </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            <br>
            <b>Payment Mode: </b>{{order.mode_of_payment}}            
            <br>
            <b>Voucher Number: </b>{{order.voucher_number}}
            <br>                  
            <b>Service: </b>{{order.get_service}}
            <br>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- Table row -->
    <div class="row">
        <div class="col-xs-12 table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Qty</th>
                        <th>Product</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order.order_items.all %}
                    <tr>
                        <td>{{item.quantity}}</td>      
                        <td>{{item.listing.product}}</td>     
                        <td>Ksh {{item.cost|intcomma}}</td>     
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <form action="#" method="post">
        <div class="row">
            <div class="col-xs-6" style="max-height: 200px;overflow: scroll;">
                {{ formset.management_form }}
                {{ formset.non_form_errors }}
                <table class="table">
                    {% for form in formset %}
                        {% if forloop.first %}
                            <thead>
                            <tr>
                                {% for field in form.visible_fields %}
                                    <th>{{ field.label|capfirst }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                        {% endif %}
                        <tr class="{% cycle "row1" "row2" %} formset_row">
                            {% for field in form.visible_fields %}
                                <td class="form-group{% if field.errors %} has-error {% endif %}">
                                    {# Include the hidden fields in the form #}
                                    {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    {% render_field field class+="form-control input-md" data-parsley-required="true" data-parsley-sanitize="1"%}
                                    {% comment %} {% render_field form.password class+="form-control input-md" data-parsley-required="true" data-parsley-sanitize="1"%} {% endcomment %}

                                    {{ field.errors.as_ul }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <!-- /.col -->
            <div class="col-xs-6">
                <p class="lead">Total Cost:
                    <strong>Ksh {{order.total_cost|intcomma}}</strong>
                </p>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        

        <!-- this row will not appear when printing -->
        <div class="row no-print">
            {% if order.mode_of_payment == 'Cash' %}
                <div class="col-xs-3 pull-right">
                    <div class="form-group {% if form.password.errors %} has-error {% endif %}" disabled>
                        <label class="control-label" for="{{ form.token.id_for_label }}">Enter Wallet Password</label>
                        {% render_field form.password class+="form-control input-md" data-parsley-required="true" data-parsley-sanitize="1"%}
                        <div class="error-block">
                            {{ form.password.errors }}
                        </div>
                    </div>
                </div>
            {% endif %}
            
            <div class="col-xs-12">
                <button class="btn btn-primary pull-left" onclick="window.print();" style="margin-right: 5px;">
                        <i class="fa fa-print"></i> Print
                </button>
                    {% csrf_token %}
                    <button type="submit" name="submit_payment" class="btn btn-success pull-right">
                        <i class="fa fa-credit-card"></i> Fulfill Order
                    </button>
            </div>
        </div>
    </form>
</section>
{% endblock page %}