{% extends "page.html" %}
{% load static %}
{% load permission_tags %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %} Create Order{% endblock title %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/order.css' %}">
{% endblock stylesheets %}

{% block page %}
    {% load crispy_forms_tags %}
    {% include 'messages.html' %}
    <form action="" id="orderForm" data-listings-url="{% url 'ajax_load_listings' %}" novalidate method="post">
        {% csrf_token %}
        <input type="hidden" id="id_tenant" value="{{tenant}}">
        {{ order_form.seller }}        
        <fieldset>
            <div class="form-group {% if order_form.seller_code.errors %} has-error {% endif %}" disabled>
                <label class="control-label" for="{{ form.token.id_for_label }}">{% trans "Agent's Number" %}</label>
                <div class="input-group">
                    {% render_field order_form.seller_code class+="form-control input-md" data-parsley-required="true" data-parsley-sanitize="1"%}
                    <span class="input-group-btn">
                        <a href="{% url 'locate-distributor' %}" style="background-color: white; border: 1px solid #ccc;" type="button" class="btn btn-link {% if tenant %} disabled {% endif %}">
                                <span class="glyphicon glyphicon-map-marker"></span> Locate Agent
                        </a>
                    </span>
                </div>
                <div class="error-block">
                    {{ order_form.seller_code.errors }}
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Buying from</span>
                {% if seller_name %}
                    <span class="form-control">{{seller_name}}</span>
                {% else %}
                    <span class="form-control" id="seller_name"></span>
                {% endif %}
            </div>
            

            {{ order_form.service|as_crispy_field }}
            {% if order_form.service.errors %}
                {% for error in order_form.service.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}

            {{ order_form.mode_of_payment|as_crispy_field }}
            {% if order_form.mode_of_payment.errors %}
                {% for error in order_form.mode_of_payment.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}
        </fieldset>

        {{ order_item_formset.management_form|crispy }}

        <fieldset>        
        <table class="table">
                {% for form in order_item_formset %}
                    {% if forloop.first %}
                        <thead>
                        <tr>
                            {% for field in form.visible_fields %}
                                <th>{{ field.label|capfirst }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                    {% endif %}
                    <tr class="{% cycle "row1" "row2" %} formset_row">
                        {% for field in form.visible_fields %}
                            <td>
                                {# Include the hidden fields in the form #}
                                {% if forloop.first %}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                {% endif %}
                                {{ field.errors.as_ul }}
                                {{ field }}
                            </td>
                        {% endfor %}
                        
                    </tr>
                {% endfor %}
        </table>
        </fieldset>

        <div class="pull-right">
            <input class="btn btn-link" type="button" value="Cancel" onclick="window.history.go(-1);" />        
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
{% endblock page %}
{% block javascripts %}
{{ block.super }}
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.formset_row').formset({
        addText: 'Add order item',
        deleteText: 'Remove',
        prefix: 'orderitem_set'
    });
    sendRequest();
    styleOrderItems();


    var btn = $(".add-row");
    btn.data("funcToCall", btn.attr("onclick"));
    $(".add-row").removeAttr("onclick");
    $(".add-row").bind("click", function(e){
        var func = $(this).data("funcToCall");
        eval(func);
        styleOrderItems();        
        populateDropDown();        
    })

    $('#id_seller_code').keyup(function() {
        sendRequest();
    });

    function sendRequest(){
        $.ajax({
            url: $("#orderForm").attr("data-listings-url"),
            data: {
                'agent_number' : $('#id_seller_code').val(),
                'service' : $('#id_service').val(),
                'tenant_id' : $('#id_tenant').val()
            },
            success: function (data) {
                localStorage.setItem('searchedListing', JSON.stringify(data['listings']));
                populateDropDown();
                $('#seller_name').html(data['seller_name'])
            }
        });
    }

    $("#id_service").change(function () {
        sendRequest();
    });

    function styleOrderItems(){
        $('.table > tbody  > tr > td > select').addClass("form-control");
        $('.table > tbody  > tr > td > input').addClass("numberinput form-control");
    }

    function populateDropDown(){
        var data = JSON.parse(localStorage.getItem('searchedListing'));
        console.log(data)
        $('.table > tbody  > tr').each(function(i, row) {
            var $row = $(row);
            $id_select = "id_order_items-" + i + "-order"
            $listing = $row.find('select').attr("id", $id_select);
            $listing.find('option').remove();
        });
        $('.table > tbody  > tr').each(function(i, row) {
            var $row = $(row);
            $id_select = "id_order_items-" + i + "-order"
            $listing = $row.find('select').attr("id", $id_select);
            $.each(data, function(index, listing) {
                $listing.append($("<option />").val(listing.pk).text(listing.product));
            });
        });
    }

</script>
{% endblock javascripts %}