{% extends "tables.html" %}
{% load sass_tags %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block title %} Manage Roles {% endblock title %}

{% block page %}

{% include 'messages.html' %}
{% block header_javascripts %}
    <link href="{% static 'css/manage-users.css' %}" rel="stylesheet" />
{% endblock header_javascripts %}
<div class="row">
    <div class="col-md-2">
        <h4>Users</h4>
        <ul id="users_ul" class="nav nav-pills nav-stacked">
            {% for role in user_roles %}
            <li data-user-id="{{role.user.id}}" class="username">
                <span>{{role.user.get_full_name}}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div data-roles-url="{% url 'account:ajax_load_roles_data' %}" data-remove-roles-url="{% url 'account:ajax_remove_user_role' %}" data-remove-all-roles-url="{% url 'account:ajax_remove_all_user_role'%}" id="roles" class="col-md-10">
        <h4>Roles</h4>
        <ul class="list-group" id='id_roles' >

        </ul>
        <span>
            <div class="row">
                    <div class="form-group col-md-6">
                            <select class="form-control input-lg add-role" data-add-roles-url='{% url "account:ajax_add_user_role" %}' >
                                    <option value="">Add New Role</option>

                                    {% for role in all_roles %}
                                        <option value="{{role.0}}">{{role.1}}</option>
                                    {% endfor %}

                                </select>
                    </div>
                    <div class="form-group col-md-6">
                        <button class="btn btn-danger btn-fill" id='remove-all'>Remove all Roles</button>

                    </div>
            </div>


        </span>
    </div>
</div>
{% endblock page %}

{% block extended_js %}
<script>
        function notify_long(message, type) {
            var notify_type = type.toLowerCase()
            if (notify_type == 'error') {
                notify_type = 'danger'
            }
            $.notify({
                message: message,
            }, {
                placement: {
                    from: "top",
                    align: "right"
                },
                type: notify_type
            });

        }
    $("#users_ul").on("click", ".username", function (event) {
        var userId = $(this).closest('li').attr('data-user-id');
        $('ul li.active').removeClass('active');
        $(this).closest('li').addClass('active');
        getRoles(userId);
    });

    $('#roles').on('change', '.add-role', function(e){
        var userId = $('#id_roles').attr('data-user-id');
        var role = $(this).val()

        if(!role || !userId){
            return
        }

        $.ajax({
            url: $(this).attr("data-add-roles-url"),
            data: {
                'user_id': userId,
                'role':role,
            },
            success: function (data) {
                render_roles(data)
                notify_long("Successfully Added Role", 'Success')
                $('.add-role')[0].selectedIndex = 0;


            }
        });

    })

    $('#roles').on('click','.remove-role-wrapper', function(e){

        var role = $(this).closest('li').attr('data-role-value')
        var userId = $('#id_roles').attr('data-user-id');

        $.ajax({
            url: $('#roles').attr("data-remove-roles-url"),
            data: {
                'user_id': userId,
                'role':role,
            },
            success: function (data) {
                render_roles(data)
                notify_long("Successfully Removed Role", 'Success')

            }
        });



    } )

    $('#remove-all').click(function(e){

        var userId = $('#id_roles').attr('data-user-id');

        $.ajax({
            url: $('#roles').attr("data-remove-all-roles-url"),
            data: {
                'user_id': userId,
            },
            success: function (data) {
                render_roles(data)
                notify_long("Successfully Removed All Roles", 'Success')

            }
        });



    } )



    function getRoles(userId) {
        $('#id_roles').attr('data-user-id', userId);
        $.ajax({
            url: $("#roles").attr("data-roles-url"),
            data: {
                'user_id': userId,
            },
            success: function (data) {
                render_roles(data)

            }
        });
    }

    function render_roles(data){
        $('#id_roles').empty();
        var items = [];
        $.each(data['roles'], function (i, item) {
            items.push('<li class="list-group-item" data-role-value='+item.value+'>' + item.name + ' <span class="remove-role-wrapper"><i class="fa fa-times-circle text-danger remove-role" title="Remove Role"></i></span></li>');
        });
        $('#id_roles').append(items.join(''));
    }

    $(document).ready(function(){
        $('.username').first().click()
    })


</script>
{% endblock %}