{% extends "account/signup.html" %} {% load sass_tags %} {% load widget_tweaks %} {% load static %} {% load i18n %}
{% block inner_content %}
<form class="account-register-basic form-narrow form-2col" id="signup_form" method="POST" action="" data-parsley-validate data-parsley-excluded=":hidden">
    {% csrf_token %} {{ wizard.management_form }}
    <div class="row">
        <span style="font-size: 35px;">Create New Account</span>
        <p><b>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</b></p>
        <hr>
    </div>
    <div class="row">
        <!-- IDENTITY NUMBER -->
        <div class="form-group{% if form.identity_number.errors %} has-error{% endif %}">
            <label class="control-label" for="id_identity_number">{% trans "Identity Number" %}</label>
            {% render_field form.identity_number class+="form-control input-lg" data-parsley-minlength="7" data-parsley-maxlength='10'%}
            <div class="error-block">{{ form.identity_number.errors }}</div>
        </div>

        <!-- REGION -->
        <div class="form-group{% if form.region.errors %} has-error{% endif %}">
            <label class="control-label" for="id_region">{% trans "County" %}</label>
            {% render_field form.region class+="form-control input-lg" %}
            <div class="error-block">{{ form.region.errors }}</div>
        </div>

        <!-- SUB REGION -->
        <div class="form-group{% if form.sub_region.errors %} has-error{% endif %}">
            <label class="control-label" for="id_sub_region">{% trans "Sub County" %}</label>
            {% render_field form.sub_region class+="form-control input-lg" %}
            <div class="error-block">{{ form.sub_region.errors }}</div>
        </div>

        <!-- LOCATION -->
        <div class="form-group{% if form.location.errors %} has-error{% endif %}">
            <label class="control-label" for="id_location">{% trans "Location" %}</label>
            {% render_field form.location class+="form-control input-lg" %}
            <div class="error-block">{{ form.location.errors }}</div>
        </div>

        <!-- VILLAGE -->
        <div class="form-group{% if form.village.errors %} has-error{% endif %}">
            <label class="control-label" for="id_village">{% trans "Village" %}</label>
            {% render_field form.village class+="form-control input-lg" %}
            <div class="error-block">{{ form.village.errors }}</div>
        </div>

        <!-- SURVEY -->
        <div class="form-group{% if form.survey_requested.errors %} has-error{% endif %}">
            <label class="control-label" for="id_survey_requested">{% trans "Do you wish to enroll to gasyetu subsidized gas?" %}</label>
            {% render_field form.survey_requested class+="form-control input-lg" %}
            <div class="error-block">{{ form.survey_requested.errors }}</div>
        </div>
    </div>

    <!-- REDIRECT -->
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}

    <div class="text-right m-t-30">
        {% if wizard.steps.prev %}
            <button name="wizard_goto_step" formnovalidate type="submit" value="{{ wizard.steps.prev }}" class="btn btn-default btn-fill btn-wd btn-next btn-reset">{% trans "PREVIOUS" %}</button>
        {% endif %}
        <button type="submit" class="btn btn-success btn-fill btn-wd btn-next">FINISH</button>
    </div>

</form>
{% endblock inner_content %}

{% block extended_js %}
{{ form.media.js }}
{% endblock extended_js %}
