{% extends "account/snippets/base.html" %}
{% load sass_tags %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}

{% block title %} Staff Register {% endblock title %}

{% block content %}


<form method="post" class="login-form form-narrow" enctype="multipart/form-data" data-parsley-validate data-parsley-excluded=":hidden">
	{% csrf_token %}
	<div class="row">
		<span style="font-size: 25px;">Complete Registration</span>
		<hr>
	</div>
	<div class="card card-plain">
		<div class="content">
			<!-- EMAIL -->
			<div id="email-div" class="clearfix form-group{% if form.email.errors %} has-error{% endif %}">
					<div class="input-group">
						{% render_field form.email class+="form-control input-lg" placeholder="Email Address" data-parsley-sanitize="1" data-parsley-required="true" %}
						<span class="input-group-addon">
								<i style="color:green" class="fa fa-check"></i>
						</span>
					</div>
					<div class="error-block">{{ form.email.errors }}</div>
			</div>
			
			<!-- FIRST NAME -->
			<div class="form-group{% if form.first_name.errors %} has-error{% endif %}">
				{% render_field form.first_name class+="form-control input-lg" placeholder="Your First Name" data-parsley-minlength="3" data-parsley-sanitize="1" %}
				<div class="error-block">{{ form.first_name.errors }}</div>
			</div>

			<!-- LAST NAME -->
			<div class="form-group{% if form.last_name.errors %} has-error{% endif %}">
				{% render_field form.last_name class+="form-control input-lg" placeholder="Your Last Name" data-parsley-minlength="3" data-parsley-sanitize="1" %}
				<div class="error-block">{{ form.last_name.errors }}</div>
			</div>
			
			<!-- PASSWORD -->
			<div class="form-group{% if form.password.errors %} has-error{% endif %}">
				{% render_field form.password class+="form-control" placeholder="Password" data-parsley-errors-container="#password-errors" %}
				<p class="help-block small">{% trans "Enter a strong password" %}</p>
				<div class="error-block">{{ form.password.errors }}</div>
			</div>
		</div>
		<div class="footer text-center">
			<button type="submit" class="btn btn-fill btn-danger btn-wd">Create Account</button>
		</div>
	</div>
</form>
						
{% endblock content %}

