{% extends "tables.html" %}
{% load sass_tags %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block title %} Top Up Wallet via M-PESA {% endblock title %}

{% block page %}

{% include 'messages.html' %}
    <form action="{% url 'account:account_topup' %}" method="post">
        {% csrf_token %}
        <div class="form-group {% if form.phone.errors %} has-error {% endif %}">
            <label class="control-label" for="{{ form.phone.id_for_label }}">{% trans "Phone Number" %}</label>
            {% render_field form.phone class+="form-control input-lg" data-parsley-required="true" data-parsley-sanitize="1"%}
            <div class="error-block">
                {{ form.phone.errors }}
            </div>
        </div>
        <div class="form-group {% if form.amount.errors %} has-error {% endif %}">
            <label class="control-label" for="{{ form.amount.id_for_label }}">{% trans "Amount" %}</label>
            {% render_field form.amount class+="form-control input-lg" data-parsley-required="true" data-parsley-sanitize="1"%}
            <div class="error-block">
                {{ form.amount.errors }}
            </div>
        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-fill btn-danger btn-wd">{% trans "Top Up" %}</button>
        </div>
    </form>
{% endblock page %}