{% extends "page.html" %}
{% block title %} Update Retailer Details {% endblock title %}
{% block page %}
{% load crispy_forms_tags %}
<form method="post" class="bootstrap3" enctype="multipart/form-data">
    {% csrf_token %}{{ form|crispy }}
    <div class="pull-right">
        <a class="btn btn-secondary" href="{% url 'retailers'%}" role="button">Cancel</a>
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>
{% endblock page %} {% block extended_js %}
<script>
    $(function () {
        var dateOptions = {
            dateFormat: "dd-mm-yy",
            constrainInput: true,
            gotoCurrent: true,
            minDate: new Date()
        };
        $("#startDate").datepicker(dateOptions);
        $("#endDate").datepicker(dateOptions);
    });
</script> {% endblock extended_js %}
