{% extends "base.html" %}
{% load static %}
{% load permission_tags %}
{% block title %} Dashboard{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row top_tiles">
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <a href="/inventory/stock-movement/">
          <div class="icon"><i class="fa fa-briefcase"></i></div>
          <div class="count">{{total_stock}}</div>
          <h3>Availble Stock</h3>
          <p></p>
          </a>
        </div>
      </div>
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <a href="#">
            <div class="icon"><i class="fa fa-shopping-basket"></i></div>
            <div class="count">{{completed_orders}}</div>
            <h3>Sold Stock</h3>
            <p></p>
          </a>
        </div>
      </div>
      {% if user|has_role:'gas_importer_admin'%}
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <a href="/distribution/distributors/">
            <div class="icon"><i class="fa fa-users"></i></div>
            <div class="count">{{distributor_count}}</div>
            <h3>My Distributors</h3>
            <p></p>
          </a>
        </div>
      </div>
      {% endif %}
      {% if user|has_role:'distributor_admin'%}
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="tile-stats">
        <a href="/distribution/retailers/">
          <div class="icon">
            <i class="fa fa-users"></i>
          </div>
          <div class="count">{{retailer_count}}</div>
          <h3>My Retailers</h3>
          <p></p>
        </a>
      </div>
    </div>
    {% endif %}
     {% if user|has_role:'distributor_admin' %}
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <a href="/orders/">
            <div class="icon"><i class="fa fa-folder-open"></i></div>
            <div class="count">{{new_order_count}}</div>
            <h3>New Orders</h3>
            <p></p>
          </a>
        </div>
      </div>
       {% endif %}
      {% if user|has_role:'gas_importer_admin' %}
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <a href="#">
            <div class="icon"><i class="fa fa-folder-open"></i></div>
            <div class="count">{{new_order_count}}</div>
            <h3>New Orders</h3>
            <p></p>
          </a>
        </div>
      </div>
      {% endif %}
    </div>
    <!-- /top tiles -->
    <br />

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <h3>My New Orders</h3>
        <table id="" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Voucher Number</th>
                    <th>Status</th>
                    <th>Buyer</th>
                    <th>Service</th>
                    <th>Total Cost</th>
                </tr>
            </thead>
            <tbody>
              {% for order in orders %}
                <tr>
                  <td>{{ forloop.counter }}  {{ order.orders }} </td>
                  <td>{{order.voucher_number}}</td>
                  <td>New</td>
                  <td>{{order.buyer}}</td>
                  <td>{{order.service}}</td>
                  <td>{{order.total_cost}}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
      </div>
      </div>
    </div>
{% endblock content %}
