.leaflet-control-geolocate {
    width: 26px;
    height: 26px;
    background-color: #fff;
    text-align: center;
    -webkit-transition: width 0.1s, height 0.1s;
    -moz-transition: width 0.1s, height 0.1s;
    -ms-transition: width 0.1s, height 0.1s;
    -o-transition: width 0.1s, height 0.1s;
    transition: width 0.1s, height 0.1s;
    z-index: 810;
    /* place above .leaflet-control; z-index is 7 in Leaflet v0.7, 800 in v1 */
    box-sizing: content-box;
}

.leaflet-control-geolocate:hover {
    background-color: #f4f4f4;
}

.leaflet-control-geolocate span {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    cursor: pointer;
}