<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Consumers Reports-{{date}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="file://{{static}}build/css/bootstrap.min.css" rel="stylesheet">
    <link href="file://{{static}}css/report.css" rel="stylesheet">
</head>
<body>
    <div class="body">
        <!-- header -->
        <div class="header">
            <!-- info row -->
            <div class="row">
                <div class="col-xs-4 header-col right">
                    <p>Printed by: {{tenant}}</p>
                    <p>Date: {{date}}</p>
                </div>
                <!-- /.col -->
                <div class="col-xs-4 header-col center">
                    <img src="file://{{logo}}" class="logo" alt="Nock Logo">
                    <br>
                    <h2>Consumers Report</h2>
                </div>
                <!-- /.col -->
                <div class="col-xs-4 header-col left">
                    <P><b>National Oil Corporation of Kenya</b><br>
                    KAWI house – South C Redcross Road,<br>
                    Off Popo Road<br>
                    Telephone: +254-20-695 2000</P>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!--/.header -->
    
        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>No .</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone No.</th>
                            <th>ID No.</th>
                            <th>Status</th>
                            <th>Date Joined</th>
                            <th>Survey</th>
                            <th>Product</th>
                            <th>Region</th>
                            <th>Sub Region</th>
                            <th>Location</th>
                            <th>Village</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for report in reports %}
                        <tr>
                            <td>{{ forloop.counter }} {{ report.reports }} </td>
                            <td>{{report.name}}</td>
                            <td>{{report.email}}</td>
                            <td>{{report.phone}}</td>
                            <td>{{report.id_no}}</td>
                            <td>{{report.status}}</td>
                            <td>{{report.date_joined}}</td>
                            <td>{{report.survey}}</td>
                            <td>{{report.product}}</td>
                            <td>{{report.region}}</td>
                            <td>{{report.sub_region}}</td>
                            <td>{{report.location}}</td>
                            <td>{{report.village}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- .footer -->
        <!-- /.footer -->
    </div>
    <!-- /.row -->
</body>
</html>