{% extends "tables.html" %} {% block page %} {% block title %} List of Vetted Consumers {% endblock title %}

<p class="text-muted font-13 m-b-30">

</p>
<table>
    <form class="form-group" method="POST" action="{% url 'report_vetted_consumers' %}">
        {% csrf_token %}
        <tr>
            <td>
                <label for="to date">From Date :</label>
            </td>
            <td>
                <div class="form-group">
                    <input type="text" class="datepicker" data-provide="datepicker" id="min-date" name="min-date" required>
                </div>
            </td>
            <td>
                <label for="to date">To Date :</label>
            </td>
            <td>
                <div class="form-group">
                    <input type="text" class="datepicker" data-provide="datepicker" id="max-date" name="max-date" required>
                </div>
            </td>
            <td></td>
            <td>
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search"></i>Search</button>
            </td>
            <td></td>
            <td>
                <a href="{% url 'report_print_vetted_consumers' %}?min_date=&max_date=&type=consumer_vetted" id="filter-btn" class="btn btn-default">
                    <i class="fa fa-file-pdf-o"></i>Print Pdf</a>
            </td>
        </tr>
    </form>
</table>
<br>
<br>
<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>No .</th>
            <th>Name</th>
            <th>Enumerator</th>
            <th>Questionnaire</th>
            <th>Passed</th>
            <th>Date Administered</th>
        </tr>
    </thead>
    <tbody>
        {% for consumer in consumers %}
        <tr>
            <td>{{ forloop.counter }} {{ consumer.consumers }} </td>
            <td>{{consumer.name}}</td>
            <td>{{consumer.enumerator}}</td>
            <td>{{consumer.questionnaire}}</td>
            <td>{{consumer.passed}}</td>
            <td>{{consumer.date_administered}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<br> {% endblock page %} {% block extended_js %} {{ block.super}}
<script>
    //converting the image into data uri
    $('#datatable-responsive').dataTable({
        bFilter: true,
        bInfo: true
    });

    $('.dataTables_filter').hide()
    $('#datatable-responsive_length').hide()

    //date picker
    $('.datepicker').datepicker({
        dateFormat: 'dd-mm-yy'
    });

    $('#min-date, #max-date').change(function () {
        var url = '/surveys/reports/print/vetted/consumers/';
        var min_date = $('#min-date').val();
        var max_date = $('#max-date').val();
        var type = "consumer_vetted";
        $('#filter-btn').attr('href', url + '?min_date=' + min_date + '&max_date=' + max_date+'&type='+type);
    });
</script> {% endblock extended_js %}