{% extends "tables.html" %} {% block page %} {% block title %} List of Enumerators {% endblock title %}

<p class="text-muted font-13 m-b-30">

</p>
<table>
    <form class="form-group" method="POST" action="{% url 'report_enumerators' %}">
        {% csrf_token %}
        <tr>
            <td>
                <label for="to date">From Date :</label>
            </td>
            <td>
                <div class="form-group">
                    <input type="text" class="datepicker" data-provide="datepicker" id="min-date" name="min-date" required>
                </div>
            </td>
            <td>
                <label for="to date">To Date :</label>
            </td>
            <td>
                <div class="form-group">
                    <input type="text" class="datepicker" data-provide="datepicker" id="max-date" name="max-date" required>
                </div>
            </td>
            <td></td>
            <td>
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search"></i>Search</button>
            </td>
            <td></td>
            <td>
                <a href="{% url 'report_print_enumerators' %}?min_date=&max_date=&type=enumerator" id="filter-btn" class="btn btn-default">
                    <i class="fa fa-file-pdf-o"></i>Print Pdf</a>
            </td>
        </tr>
    </form>
</table>
<br>
<br>
<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>No .</th>
            <th>Name</th>
            <th>Identity Number</th>
            <th>Phone Number</th>
            <th>County</th>
            <th>Sub County</th>
            <th>Status</th>
            <th>Date Added</th>
        </tr>
    </thead>
    <tbody>
        {% for enumerator in enumerators %}
        <tr>
            <td>{{ forloop.counter }} {{ enumerator.enumerators }} </td>
            <td>{{enumerator.title}}</td>
            <td>{{enumerator.identity_number}}</td>
            <td>{{enumerator.phone_number}}</td>
            <td>{{enumerator.region}}</td>
            <td>{{enumerator.sub_region}}</td>
            <td>{{enumerator.status}}</td>
            <td>{{enumerator.date_added}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<br> {% endblock page %} {% block extended_js %} {{ block.super}}
<script>
    //converting the image into data uri
    $('#datatable-responsive').dataTable({
        bFilter: true,
        bInfo: true
    });

    $('.dataTables_filter').hide()
    $('#datatable-responsive_length').hide()

    //date picker
    $('.datepicker').datepicker({
        dateFormat: 'dd-mm-yy'
    });

    $('#min-date, #max-date').change(function () {
        var url = '/surveys/reports/print/enumerators/';
        var min_date = $('#min-date').val();
        var max_date = $('#max-date').val();
        var type = "enumerator";
        $('#filter-btn').attr('href', url + '?min_date=' + min_date + '&max_date=' + max_date+'&type='+type);
    });
</script> {% endblock extended_js %}