{% extends "page.html" %}
{% load i18n %} {% load sass_tags %} {% load widget_tweaks %} {% load static %}
{% block title %} Withdrawal{% endblock title %}

{% block page %}
    {% load crispy_forms_tags %}
    {% include 'messages.html' %}

    <div class="card">
        <div class="card-content">
            {% comment %} <h4>Net withdrawable profit: Ksh 80,000</h4>
            <h4>Last withdrawal: 31/08/2018 Ksh 50,000</h4> {% endcomment %}
            {% if latest_withdrawal %}
                <h4>Last withdrawal: {{latest_withdrawal.transaction_date}} Ksh{{latest_withdrawal.transaction_amount}}</h4>
            {% endif %}


            <form class="form-narrow form-2col" method="POST" action="" data-parsley-validate data-parsley-excluded=":hidden">
                    {% csrf_token %}
                    <div class="row">
                        <!-- COUNTRY -->
                        <div class="form-group{% if form.country.errors %} has-error{% endif %}">
                            <label class="control-label" for="id_county">{% trans "Country" %}</label>
                            {% render_field form.country class+="form-control input-lg" %}
                            <div class="error-block">{{ form.country.errors }}</div>
                        </div>

                        <!-- WITHDRAW TYPE -->
                        <div class="form-group{% if form.withdraw_type.errors %} has-error{% endif %}">
                            <label class="control-label" for="id_withdraw_type">{% trans "Withdraw Type" %}</label>
                            {% render_field form.withdraw_type class+="form-control input-lg" %}
                            <div class="error-block">{{ form.withdraw_type.errors }}</div>
                        </div>

                        <!-- TRANSFER TYPE -->
                        <div class="form-group{% if form.transfer_type.errors %} has-error{% endif %}">
                            <label class="control-label" for="id_transfer_type">{% trans "Transfer Type" %}</label>
                            {% render_field form.transfer_type class+="form-control input-lg" %}
                            <div class="error-block">{{ form.transfer_type.errors }}</div>
                        </div>

                        <!-- BANK -->
                        <div class="form-group{% if form.bank.errors %} has-error{% endif %}" id="bank">
                            <label class="control-label" for="id_bank">{% trans "Bank" %}</label>
                            {% render_field form.bank class+="form-control input-lg" %}
                            <div class="error-block">{{ form.bank.errors }}</div>
                        </div>

                        <!-- BRANCH -->
                        <div class="form-group{% if form.branch.errors %} has-error{% endif %}" id="branch">
                            <label class="control-label" for="id_branch">{% trans "Branch" %}</label>
                            {% render_field form.branch class+="form-control input-lg" %}
                            <div class="error-block">{{ form.branch.errors }}</div>
                        </div>

                        <!-- ACCOUNT NUMBER -->
                        <div class="form-group{% if form.account_number.errors %} has-error{% endif %}" id="account_number">
                            <label class="control-label" for="id_account_number">{% trans "Account Number" %}</label>
                            {% render_field form.account_number class+="form-control input-lg" %}
                            <div class="error-block">{{ form.account_number.errors }}</div>
                        </div>

                        <!-- ACCOUNT NAME -->
                        <div class="form-group{% if form.beneficiary_account_name.errors %} has-error{% endif %}" id="account_name">
                            <label class="control-label" for="id_beneficiary_account_name">{% trans "Account Name" %}</label>
                            {% render_field form.beneficiary_account_name class+="form-control input-lg" %}
                            <div class="error-block">{{ form.beneficiary_account_name.errors }}</div>
                        </div>

                        <!-- BENEFICIARY NAME -->
                        <div class="form-group{% if form.beneficiary_name.errors %} has-error{% endif %}" id="beneficiary_name">
                            <label class="control-label" for="id_beneficiary_name">{% trans "Beneficiary Name" %}</label>
                            {% render_field form.beneficiary_name class+="form-control input-lg" %}
                            <div class="error-block">{{ form.beneficiary_name.errors }}</div>
                        </div>

                        <!-- AMOUNT -->
                        <div class="form-group{% if form.transaction_amount.errors %} has-error{% endif %}">
                            <label class="control-label" for="id_transaction_amount">{% trans "Amount" %}</label>
                            {% render_field form.transaction_amount class+="form-control input-lg" %}
                            <div class="error-block">{{ form.transaction_amount.errors }}</div>
                        </div>

                    </div>

                    <!-- REDIRECT -->
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}

                    <div class="text-right m-t-30">
                        <button type="submit" class="btn btn-success btn-fill btn-wd btn-next">Withdraw</button>
                    </div>

            </form>
        </div>
    </div>

{% endblock page %}
{% block extended_js %}
<script>
    $(document).ready(function() {
        $('#id_transfer_type').select2();
        $('#id_withdraw_type').select2();
    });
</script>
<script>
    $(document).ready(function(){
        $('#id_transfer_type').on('change', function(){
            var transfer_type = $("#id_transfer_type :selected").text();
            if(transfer_type  == 'M-PESA'){
                $('#bank').hide();
                $('#branch').hide();
                //add the place holder to the account name
                $("#id_account_number").attr("placeholder", "25472xxxxxxx");
            }else{
                $('#bank').show();
                $('#branch').show();
            }
        });
    });
</script>
{{ form.media.js }}
{% endblock extended_js %}