{% extends "tables.html" %} {% block page %} {% block title %} Product Listings {% endblock title %}

<p class="text-muted font-13 m-b-30">
    Manage product listings here
</p>

<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Service</th>
            <th>Price</th>
            <th>For Consumer</th>
            <th>Active</th>
            <th class="dt-center"></th>
            <th class="dt-center"></th>
        </tr>
    </thead>
    <tbody>
        {% for listing in listings %}
        <tr>
            <td>{{listing.product}}</td>
            <td>{{listing.service}}</td>
            <td>{{listing.list_price}}</td>
            <td>{{listing.for_consumer}}</td>
            <td>{{listing.is_active}}</td>
            <td class="last">
                <a style='color:green' href="{% url 'listing-update' listing.id %}">Edit</a>
            </td>
            <td class="last">
                <a style='color:red' href="{% url 'listing-deactivate' listing.id %}">Deactivate</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-primary btn-lg btn-block" href="{% url 'listing-create'%}" role="button">Create New Product Listing</a>
{% endblock page %} {% block extended_js %}
<script>
    $('#datatable-responsive').dataTable({
        columnDefs: [
            { targets: [4, 5], "orderable": false },
        ]
    });
</script> {% endblock extended_js %}