{% extends "tables.html" %} 
{% block page %} 
{% block title %} Countries {% endblock title %}

<p class="text-muted font-13 m-b-30">
    Manage the list of countries here
</p>

<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Telephone Code</th>
            <th class="dt-center"></th>
            <th class="dt-center"></th>
        </tr>
    </thead>
    <tbody>
        {% for country in countries %}
        <tr>
            <td>{{country.code}}</td>
            <td>{{country.title}}</td>
            <td>{{country.tel_code}}</td>
            <td class="last">
                <a style='color:green' href="{{ country.get_absolute_url }}">Edit</a>
            </td>
            <td class=" last">
                <a style='color:red' href="{% url 'country-delete' country.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-primary btn-lg btn-block" href="{% url 'country-create'%}" role="button">Add New Country</a>
{% endblock page %} {% block extended_js %}
<script>
    $('#datatable-responsive').dataTable({
        columnDefs: [
            { targets: [4, 5], "orderable": false },
        ]
    });
</script> {% endblock extended_js %}