{% extends "page.html" %} {% block title %} Delete Country{% endblock title %} {% block page %}
<div class="card">
    <div class="card-content">
        <h3> {{country.title}}</h3>
        <p> Code : {{country.code}}</p>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <input class="btn btn-link" type="button" value="Cancel" onclick="window.history.go(-1);" />
        <input class="btn btn-danger" type="submit" value="Yes, Delete!" />
    </form>
</div>
{% endblock page %}