{% extends "tables.html" %} {% block page %} {% block title %} Locations {% endblock title %}

<p class="text-muted font-13 m-b-30">
    Manage the list of counties here
</p>

<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>No.</th>
            <th>Code</th>
            <th>Name</th>
            <th>Sub County</th>
            <th class="dt-center"></th>
            <th class="dt-center"></th>
        </tr>
    </thead>
    <tbody>
        {% for location in locations %}
        <tr>
            <td>{{ forloop.counter }} {{ location.locations }} </td>
            <td>{{location.code}}</td>
            <td>{{location.title}}</td>
            <td>{{location.subregion}}</td>
            <td class="last">
                <a style='color:green' href="{{ location.get_absolute_url }}">Edit</a>
            </td>
            <td class=" last">
                <a style='color:red' href="{% url 'location-delete' location.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<br>
<a class="btn btn-primary btn-lg btn-block" href="{% url 'location-create'%}" role="button">Add New Location</a>
{% endblock page %} {% block extended_js %} {{ block.super }}
<script>
    $('#datatable-responsive').dataTable({
        columnDefs: [
            { targets: [4, 5], "orderable": false },
        ]
    });
</script> {% endblock extended_js %}