{% extends "page.html" %} {% block title %} Location Detail{% endblock title %} {% block page %} {% load crispy_forms_tags
%}
<form method="post" class="bootstrap3" enctype="multipart/form-data">
    {% csrf_token %} {{ form|crispy}}
    <div class="pull-right">
        <input class="btn btn-link" type="button" value="Cancel" onclick="window.history.go(-1);" />
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
{% endblock page %} {% block extended_js %} {% endblock extended_js %}