{% extends "tables.html" %} {% block page %} {% block title %} Villages {% endblock title %}

<p class="text-muted font-13 m-b-30">
    Manage the list of villages here
</p>

<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>No.</th>
            <th>Code</th>
            <th>Name</th>
            <th>Location</th>
            <th class="dt-center"></th>
            <th class="dt-center"></th>
        </tr>
    </thead>
    <tbody>
        {% for village in villages %}
        <tr>
            <td>{{ forloop.counter }} {{ village.villages }} </td>
            <td>{{village.code}}</td>
            <td>{{village.title}}</td>
            <td>{{village.location}}</td>
            <td class="last">
                <a style='color:green' href="{{ village.get_absolute_url }}">Edit</a>
            </td>
            <td class=" last">
                <a style='color:red' href="{% url 'village-delete' village.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<br>
<a class="btn btn-primary btn-lg btn-block" href="{% url 'village-create'%}" role="button">Add New Sub Region</a>
{% endblock page %} {% block extended_js %} {{ block.super }}
<script>
    $('#datatable-responsive').dataTable({
        columnDefs: [
            { targets: [4, 5], "orderable": false },
        ],
    });

</script> {% endblock extended_js %}