{% extends "base.html" %}
{% load sass_tags %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}

{% block title %} Sign In {% endblock title %}
{% block body %}
{% block stylesheets %}
  {{ block.super }}
  <link href="{% sass_src 'scss/reg.scss' %}" rel="stylesheet" type="text/css">
{% endblock stylesheets %}
{% include 'messages.html' %}
{% if form.non_field_errors %}
    <div id="messages">
    {% for message in form.non_field_errors %}
    <div class="alert alert-dismissible alert-danger"
        role="alert">
        <button type="button" class="close" data-dismiss="alert"
                aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        {{ message|escape }}
    </div>
    {% endfor %}
    </div>
{% endif %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#">
        <span><img src="{% static '/images/gasyetu_edit.png'%}" alt="Logo" width="62" height="62"></span>
        <span style="color:white;">GAS YETU</span>
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="{% url 'account:register' %}">
                    Register
                </a>
            </li>
            <li>
                <a href="{% url 'account:login' %}">                    
                    Login
                </a>
            </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% block content %}
{% endblock content %}

{% endblock body %}
