{% extends "tables.html" %} {% block page %} {% block title %} Products {% endblock title %}

<p class="text-muted font-13 m-b-30">
    Manage products serials here
</p>

<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Brand</th>
            <th>Cylinder</th>
            <th class="dt-center"></th>
            <th class="dt-center"></th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{product.brand}}</td>
            <td>{{product.cylinder}}</td>
            <td class="last">
                <a style='color:green' href="{% url 'product-serials_edit' product.id %}">View Serials</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock page %} {% block extended_js %}
<script>
    $('#datatable-responsive').dataTable({
        columnDefs: [
            { targets: [2, 3], "orderable": false },
        ]
    });
</script> {% endblock extended_js %}