{% extends "tables.html" %} {% block page %} {% block title %} Orders {% endblock title %} 

<p class="text-muted font-13 m-b-30">
    List of orders
</p>
<table>
    <form class="form-group" method="POST" action="{% url 'report-orders' %}">
        {% csrf_token %}
        <tr>
            <td>
                <label for="to date">From Date :</label>
            </td>
            <td>
                <div class="form-group">
                    <input type="text" class="datepicker" data-provide="datepicker" id="min-date" name="min-date" required>
                </div>
            </td>
            <td>
                <label for="to date">To Date :</label>
            </td>
            <td>
                <div class="form-group">
                    <input type="text" class="datepicker" data-provide="datepicker" id="max-date" name="max-date" required>
                </div>
            </td>
            <td></td>
            <td>
                <button type="submit" id="filter-btn" class="btn btn-primary">
                    <i class="fa fa-search"></i>Search</button>
            </td>
            <td></td>
            <td>
                <a href="{% url 'orders_generate_pdf' %}?min_date=&max_date=" id="filter-btn-pdf" class="btn btn-default">
                    <i class="fa fa-file-pdf-o"></i> Print Pdf</a>
                <a href="{% url 'orders_generate_excel' %}?min_date=&max_date=" id="filter-btn-excel" class="btn btn-success">
                    <i class="fa fa-file-excel-o"></i> Print Excel</a>
            </td>
        </tr>
    </form>
</table>
<br>
<br>
<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>No.</th>
            <th>Date</th>
            <th>Voucher Number</th>
            <th>Buyer</th>
            <th>Seller</th>
            <th>Status</th>
            <th>Payment Method</th>
            <th>Total Cost</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ forloop.counter }} {{ order.orders }} </td>
            <td>{{order.order_date}}</td>
            <td>{{order.voucher_number}}</td>
            <td>{{order.buyer}}</td>
            <td>{{order.seller}}</td>
            <td>{{order.status}}</td>
            <td>{{order.mode_of_payment}}</td>
            <td>{{order.cost}}</td>
            <td><a href="{% url 'report-orders-order-details' %}?voucher_number={{order.voucher_number}}" data-p class="btn_view_more btn btn-primary">View More</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock page %} {% block extended_js %} {{ block.super}}
<script>
    //converting the image into data uri
    $('#datatable-responsive').dataTable({
        bFilter: true,
        bInfo: true
    });

    $('.dataTables_filter').hide()
    $('#datatable-responsive_length').hide()

    //date picker
    $('.datepicker').datepicker({
        dateFormat: 'dd-mm-yy'
    });

    $('#min-date, #max-date').change(function () {
        var url = '/orders/reports/generate/pdf/';
        var min_date = $('#min-date').val();
        var max_date = $('#max-date').val();
        $('#filter-btn-pdf').attr('href', url + '?min_date=' + min_date + '&max_date=' + max_date);
    });

    $('#min-date, #max-date').change(function () {
        var url = '/orders/reports/generate/excel/';
        var min_date = $('#min-date').val();
        var max_date = $('#max-date').val();
        $('#filter-btn-excel').attr('href', url + '?min_date=' + min_date + '&max_date=' + max_date);
    });


</script> {% endblock extended_js %}