{% extends "tables.html" %} 
{% block page %} 
{% block title %}  Add questionnaire {% endblock title %}

<p class="text-muted font-13 m-b-30">
    
</p>

{% load crispy_forms_tags %} {% include 'messages.html' %}
<form method="post" class="bootstrap3" enctype="multipart/form-data">
    {% csrf_token %} 
        {{ questionnaire_form | crispy }}
 
    <div class="pull-right">
        <input class="btn btn-link" type="button" value="Cancel" onclick="window.history.go(-1);" />
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

{% endblock page %} 