{% extends "page.html" %} {% load static %} {% load permission_tags %} {% load i18n %} {% load widget_tweaks %} 
{% block title %} Add Question{% endblock title %} {% block stylesheets %} {{ block.super }}
<link rel="stylesheet" href="{% static 'css/order.css' %}"> {% endblock stylesheets %} 
{% block page %} {% load crispy_forms_tags %} {% include 'messages.html' %}
<form action="" id="orderForm" data-listings-url="#" novalidate method="post">
    
    {% csrf_token %}
    {{ question_form | crispy }}

    {{ option_formset.management_form|crispy }}
    <fieldset>
        <table class="table">
            {% for form in option_formset %} 
            {% if forloop.first %}
            <thead>
                <tr>
                    {% for field in form.visible_fields %}
                    <th>{{ field.label|capfirst }}</th>
                    {% endfor %}
                </tr>
            </thead>
            {% endif %}
            <tr class="{% cycle "row1" "row2" %} formset_row">
                {% for field in form.visible_fields %}
                <td>
                    {% if forloop.first %} 
                        {% for hidden in form.hidden_fields %} 
                            {{ hidden }} 
                        {% endfor %} 
                    {% endif %} 
                    {{ field.errors.as_ul }} 
                    {{ field }}
                </td>
                {% endfor %}

            </tr>
            {% endfor %}
        </table>
    </fieldset>

    <div class="pull-right">
        <input class="btn btn-link" type="button" value="Cancel" onclick="window.history.go(-1);" />
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
{% endblock page %} {% block javascripts %} {{ block.super }}
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.formset_row').formset({
        addText: 'Add option',
        deleteText: 'Remove',
        prefix: 'option_set'
    });
    styleOptions();


    var btn = $(".add-row");
    btn.data("funcToCall", btn.attr("onclick"));
    $(".add-row").removeAttr("onclick");
    $(".add-row").bind("click", function (e) {
        var func = $(this).data("funcToCall");
        eval(func);
        styleOptions();

    })


    function styleOptions() {
        $('.table > tbody  > tr > td > select').addClass("form-control");
        $('.table > tbody  > tr > td > input').addClass("form-control");
    }
    
    var queryStr = window.location.pathname;
    var url_split = queryStr.split('/');
    var questionnaire_id = url_split[3];
    $('#id_questionnaire').val(questionnaire_id)
    //$('#id_nested_child_questions-TOTAL_FORMS').val(0)

</script> {% endblock javascripts %}