{% extends "page.html" %}
{% block title %} Deactivate Enumerator{% endblock title %}
{% block page %}
    <div class="card">
        <div class="card-content">
            <h3> {{enumerator.title}}</h3>
            <p> County : {{enumerator.region}}</p>
            <p> Started on: {{enumerator.start_date}}</p>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <input class="btn btn-link" type="button" value="Cancel" onclick="window.history.go(-1);" />
            <input class="btn btn-danger" type="submit" value="Yes, Deactivate!" />
        </form>
    </div>
{% endblock page %}