{% extends "tables.html" %}
{% block page %}
{% block title %} Enumerators {% endblock title %}

<p class="text-muted font-13 m-b-30">
    Manage the list of enumerators here
</p>

<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Identity Number</th>
            <th>Phone Number</th>
            <th>County</th>
            <th>Sub County</th>
            <th>Active</th>
            <th class="dt-center"></th>
            <th class="dt-center"></th>
        </tr>
    </thead>
    <tbody>
        {% for enumerator in enumerators %}
        <tr>
            <td>{{ forloop.counter }} {{ enumerator.enumerators }} </td>
            <td>{{enumerator.title}}</td>
            <td>{{enumerator.identity_number}}</td>
            <td>{{enumerator.phone_number}}</td>
            <td>{{enumerator.region}}</td>
            <td>{{enumerator.sub_region}}</td>
            <td>{{enumerator.enumerator_tenant.enabled}}</td>
            <td class="last">
                <a style='color:green' href="{% url 'enumerator_update' enumerator.id %}">Edit</a>
            </td>
            <td class="last">
                <a style='color:red' href="{% url 'enumerator_deactivate' enumerator.id %}">Deactivate</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<br>
<a class="btn btn-primary btn-lg btn-block" href="{% url 'enumerator_create'%}" role="button">Create New Enumerator</a>
{% endblock page %} {% block extended_js %}
<script>
    $('#datatable-responsive').dataTable({
        columnDefs: [
            { targets: [4, 5], "orderable": false },
        ],
        dom: 'Bfrtip',
        buttons: [
            {
                text: 'Export PDF',
                title: 'List of Registered Enumerators',
                extend: 'pdfHtml5',
                download: 'string',
                exportOptions: {
                    columns: [0,1, 2, 3, 4, 5, 6]
                }
            },
            {
                text: 'Export EXCEL',
                title: 'List of Registered Enumerators',
                extend: 'excelHtml5',
                download: 'string',
                exportOptions: {
                    columns: [0, 1, 2, 3, 4, 5]
                }
            }
        ]
    });
</script> {% endblock extended_js %}
