<p id='seller_title'><span style="font-weight: bold; font-size: 1.1em;">Enumerator: </span>{{survey.enumerator.title}}<p>
        <p id='seller_email'><span style="font-weight: bold; font-size: 1.1em;">Consumer's Name: </span>{{survey.consumer.user.get_full_name}}</p>
        <p id='seller_phone'><span style="font-weight: bold; font-size: 1.1em;">County: </span>{{survey.consumer.user.region.title}}</p>
        <p id='seller_phone'><span style="font-weight: bold; font-size: 1.1em;">SubCounty: </span>{{survey.consumer.user.sub_region.title}}</p>
        <p id='seller_phone'><span style="font-weight: bold; font-size: 1.1em;">Date surveyed: </span>{{survey.created_on}}</p>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            View consumer Details
        </button>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Consumer's Details</h4>
                    </div>
                    <div class="modal-body">
                        <table>
                            <tr>
                                <td>Name: </td>
                                <td>{{survey.consumer.user.get_full_name}}</td>
                            </tr>
                            <tr>
                                <td>IdNo: </td>
                                <td>{{survey.consumer.user.identity_number}}</td>
                            </tr>
                            <tr>
                                <td>Joined: </td>
                                <td>{{survey.consumer.user.created_date}}</td>
                            </tr>
                            <tr>
                                <td>Phone:  </td>
                                <td>{{survey.consumer.user.phone}}</td>
                            </tr>
                            <tr>
                                <td>Email: </td>
                                <td>{{survey.consumer.user.email}}</td>
                            </tr>
                            <tr>
                                <td>County: </td>
                                <td>{{survey.consumer.user.region.title}}</td>
                            </tr>
                            <tr>
                                <td>SubCounty: </td>
                                <td>{{survey.consumer.user.sub_region.title}}</td>
                            </tr>
                            <tr>
                                <td>Location: </td>
                                <td>{{survey.consumer.user.location.title}}</td>
                            </tr>
                            <tr>
                                <td>Village: </td>
                                <td>{{survey.consumer.user.village.title}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>