{% extends "tables.html" %} {% block page %} {% block title %} Questionnaires {% endblock title %}

<p class="text-muted font-13 m-b-30">
    View questionnaires here
</p>
<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>No.</th>
            <th>Title</th>
            <th>Pass Mark</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for questionnaire in questionnaires %}
        <tr> 
            <td>{{ forloop.counter }} {{ questionnaire.questionnaires }} </td>
            <td>{{questionnaire.title }}</td>
            <td>{{questionnaire.pass_mark}}</td>
            <td class="last">
                <a style='color:green' href="{% url 'questions' questionnaire.id %}">View Questions</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-primary btn-lg btn-block" href="{% url 'create_questionnaire'%}" role="button">Add Questionnaire</a>
{% endblock page %} {% block extended_js %} {{ block.super}}
<script>
    $('#datatable-responsive').dataTable({
        columnDefs: [
            { targets: [4, 5], "orderable": false },
        ],
    });
</script> {% endblock extended_js %}