{% extends "tables.html" %} {% block page %} 
{% block title %} Questionnaire {{questionnaire_id}} {% endblock title %}

<p class="text-muted font-13 m-b-30">
    View questions here
</p>
{% include 'messages.html' %}
<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>No.</th>
            <th>Question</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for question in questions %}
        <tr>
            <td>{{ forloop.counter }} {{ question.questions }} </td>
            <td>{{question.question}}</td>
            <td class="last">
                <a href="#" class="question_id" id="question_id" data-question-id="{{question.id}}">Edit Question</a>
            </td>
            <td class="last">
                <a href="#" class="option_id" id="option_id" data-question-id="{{question.id}}">Edit Options</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-primary btn-lg btn-block" href="{% url 'add_question' questionnaire_id%}" role="button">Add Question</a>
<!-- modal -->
<div class="modal myQuestionModal" tabindex="-1" role="dialog" id="myQuestionModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Question</h5>
                <button type="button" class="close" id="modalClose" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% include 'messages.html' %}
            <div class="modal-body">
                <form class="form-group">
                    <div class="form-group">
                        <input type="hidden" id="id" value>
                    </div>
                    <div class="form-group">
                        <label for="comment">Question:</label>
                        <textarea class="form-control" id="question" rows="2"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"  id="update_question" class="btn btn-primary">Update question</button>
                <button type="button"  id="modalClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- modal -->
<div class="modal myOptionModal" tabindex="-1" role="dialog" id="myOptionModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Options</h5>
                <button type="button" class="close" id="optionModalClose" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% include 'messages.html' %}
            <div class="modal-body" id="options-modal">
                <table id="options_table" class="table table-striped table-bordered options_table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Option</th>
                            <th>Correct</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" id="optionModalClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->
{% endblock page %} {% block extended_js %} {{ block.super}}
<script>
    $('#datatable-responsive').dataTable({
        columnDefs: [
            { targets: [4, 5], "orderable": false },
        ],
    });
</script> 
<script>
    $(document).ready(function () {
        $(".question_id").click(function () {
            var value = $(this).attr('data-question-id');
            $.get("/surveys/question/",
                { question_id : value},
                function (data, status) {
                    $('#myQuestionModal').on('show.bs.modal', function (event) {
                        $('#question').val(data.question)
                        $('#id').val(data.id)
                    });
                    $('#myQuestionModal').modal('show')
                }
            );
        });
    });
</script>
<script>
    $(document).ready(function () {
        $(".option_id").click(function () {
            var value = $(this).attr('data-question-id');
            $.get("/surveys/option/",
                { question_id: value },
                function (data, status) {
                    var html = '';
                    var modal = $(this)
                    $.each(JSON.parse(data.options), function (i, item) {
                        $('#myOptionModal').on('show.bs.modal', function (event) {
                            $("#options_table").append("<tbody><tr><td><input type='text' class='form-control' name='option' id='option-"+ item.pk +"'></td>\
                                <td><select class='form-control' id='is_correct-"+ item.pk+"'><option value='true'>True</option><option value='false'>False</option>\
                                </select></td><td><a href='#'' class='update_option btn btn-primary' data-option-id="+ item.pk +">Update Option</a></td></tr></tbody>");
                            $('#option-' + item.pk).val(item.fields.option);
                            $('#is_correct-'+item.pk+'  option[value=' + item.fields.is_correct+ ']').prop('selected', 'selected').change();
                        });
                    });
                    $('#myOptionModal').modal('show')
                }
            );
        });
        $('#myOptionModal').on('hidden.bs.modal', function (e) {
            location.reload();
        });
    });
</script>
<script>
    $(document).on('click', '.update_option', function(){
        var option_id = $(this).attr('data-option-id');
        var option = $('#option-'+option_id).val();
        var is_correct = $('#is_correct-'+ option_id).val();
        $.get("/surveys/update_option/",
            { 
                option_id: option_id, 
                option: option, 
                is_correct: is_correct
            },
            function(data, status){
                if(data.error){
                    var alert = document.getElementsByClassName('alert-dismissible');
                    alert.innerHTML += data.error;
                }else{
                    var alert = document.getElementsByClassName('alert-dismissible');
                    alert.innerHTML += data.success;
                    $('#myOptionModal').modal('hide');
                }
        });
    });
</script>
<script>
    $('#update_question').click(function () {
        var question_id = $('#id').val();
        var question = $('#question').val();
        $.get("/surveys/update_question/",
            {
                question_id: question_id,
                question: question
            },
            function (data, status) {
                if (data.error) {
                    var alert = document.getElementsByClassName('alert-dismissible');
                    alert.innerHTML += data.error;
                } else {
                    var alert = document.getElementsByClassName('alert-dismissible');
                    alert.innerHTML += data.success;
                    $('#myQuestionModal').modal('hide');
                }
        });
    });
</script>
{% endblock extended_js %}

