{% extends "base.html" %} {% block title %}  {% endblock title %}
{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            {{ display }}
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        {% block page %}

                        {% endblock page %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}