{% load permission_tags %}
<div class="nav_menu">
  <nav>
    <div class="nav toggle">
      <a id="menu_toggle"><i class="fa fa-bars"></i></a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="">
        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          {% if user.image.url == 'http://res.cloudinary.com/jackwachira/image/upload/v1/img/photo_default.png' or user.image.url == None %}
            <img src="https://ui-avatars.com/api/?name={{ user.get_initials }}&rouded=false&length=1" alt="{{ user.get_short_name }}">
          {% else %}
            <img src="{{ user.image.url }}" alt="{{ user.get_short_name }}">
          {% endif %}
          <b>{{user.get_full_name}}</b>
          <span class=" fa fa-angle-down"></span>
        </a>
        <ul class="dropdown-menu dropdown-usermenu pull-right">
          <li><a href="/account/profile/"> Profile</a></li>
          <li>
            <a href="/account/statement/">
              <i class="fa fa-money pull-right green"></i> Account Statement
            </a>
          </li>
          {% if user|has_role:'consumer,beneficiary' %}
          <li>
            <a href="/account/topup/">
              <i class="fa fa-plus-circle pull-right green"></i> Account Topup
            </a>
          </li>
          {% endif %}
          <li><a href="/account/logout/"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
        </ul>
      </li>
    </ul>
    <div class="navbar-text balance">
    </div>

  </nav>
</div>
