// Override Bootstrap variables:

//== Colors
$gray-dark: #595a5c;
$gray-light:                   lighten($gray-dark, 50%); // light gray

//== Scaffolding

$body-bg:                      #f2f4f7;

//== Tables

$table-cell-padding:            8px 16px !default;
$table-bg-accent:               #f9f9f9 !default; // Bg for table-striped
$table-bg-accent:               lighten($table-bg-accent, 25%); // Bg for table-striped
$table-bg-hover:                #f9fafe !default; // Bg for table-hover
$table-bg-active:               $table-bg-hover !default;
$table-border-color:            #e7e8ea; // Bg for table borders

//== Typography

$font-family-sans-serif:       Roboto, Helvetica, Arial, 'KNU Unicode', PadaukW, 'Noto Sans Bengali', sans-serif;
$font-family-sans-serif-alt:   'Roboto Condensed', Roboto, Helvetica, 'KNU Unicode', PadaukW, 'Noto Sans Bengali', sans-serif;

// End Override

@import "bootstrap-sass/assets/stylesheets/bootstrap/variables";

/* =Fonts
-------------------------------------------------------------- */

@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/roboto_regular_macroman/roboto-regular-webfont.eot');
    src: url('/static/fonts/roboto_regular_macroman/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/roboto_regular_macroman/roboto-regular-webfont.woff') format('woff'),
         url('/static/fonts/roboto_regular_macroman/roboto-regular-webfont.ttf') format('truetype'),
         url('/static/fonts/roboto_regular_macroman/roboto-regular-webfont.svg#roboto') format('svg');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto Condensed';
    src: url('/static/fonts/roboto_condensed_macroman/roboto-condensed-regular-webfont.eot');
    src: url('/static/fonts/roboto_condensed_macroman/roboto-condensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/roboto_condensed_macroman/roboto-condensed-regular-webfont.woff') format('woff'),
         url('/static/fonts/roboto_condensed_macroman/roboto-condensed-regular-webfont.ttf') format('truetype'),
         url('/static/fonts/roboto_condensed_macroman/roboto-condensed-regular-webfont.svg#roboto') format('svg');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'PadaukW';
    src: url('/static/fonts/Padauk/Padauk-Regular.woff') format('woff'),
         url('/static/fonts/Padauk/Padauk-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'KNU Unicode';
    src: url('/static/fonts/KNU/knuunicode-webfont.woff') format('woff'),
         url('/static/fonts/KNU/knuunicode-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Noto Sans Bengali';
    src: url('/static/fonts/NotoSansBengali/NotoSansBengali-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }