@import "variables";
h1 .label {
    font-size: 16px;
    @media (max-width: $screen-xs-max) {
        font-size: 12px;
    }
}
body{
    color: $gray-dark !important;    
}
h1,
h2 {
    font-family: $font-family-sans-serif-alt !important; 
}

.label {
    display: inline-block;
    font-size: 11px !important;
    font-weight: 500;
    vertical-align: middle;
    text-transform: none !important;   
}

html {
    font-family: sans-serif !important;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    position: relative;
    height: 100%;
    min-height: 100%;
    margin: 0;
}