.circle {
    font-family: sans-serif;
    background-color: #fff;
    border-radius: 50%;
    height: 5rem;
    text-align: center;
    width: 5rem;
}

.initials {
    font-size: 2rem;
    /* 50% of parent */
    line-height: 1;
    position: relative;
    top: 1.7rem;
    /* 25% of parent */
}
