/* =Registration area & profile pages
-------------------------------------------------------------- */

@import "variables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
.form-narrow,
.narrow {
    margin: 0 auto 20px;
    max-width: 500px;
    background: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #ddd;
    padding: 30px 40px;
    margin-top: 30px;
    z-index: 100;
    position: relative;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    @media (max-width: $screen-md-max) {
        margin-top: 15px;
        padding: 10px 15px;
    }
    @media (max-width: $screen-sm-max) {
        max-width: 90%;
    }
    @media (max-width: 420px) {
        margin: 15px;
    }
    h1 {
        text-align: center;
        margin: 4px auto 24px;
        .xlg {
            font-size: 150%;
            font-weight: 600;
            letter-spacing: -0.5px;
        }
    }
    h5 {
        border-top: 1px dashed #ddd;
        padding-top: 20px;
    }
    .btn-block {
        margin-bottom: 20px;
    }
    .checkbox.pull-left {
        margin-top: 0;
    }
    .btn-full {
        background: transparent;
        border-top: 1px solid $table-border-color;
        .btn-group .btn {
            margin: 0;
        }
    }
}

.form-2col {
    // wide layout with 2 columns
    max-width: 970px;
    margin-bottom: 50px;
    h1 {
        text-align: left;
    }
    .form-container {
        border-left: 1px solid $gray-light;
        @media (max-width: $screen-sm-max) {
            border: none;
        }
    }
    @media (max-width: $screen-sm-max) {
        max-width: 90%;
        padding: 20px;
        .form-text {
            border-right: none;
            border-bottom: solid 1px $table-border-color;
            margin-bottom: 20px;
            padding-right: 0;
            margin-top: 0;
            h2 {
                margin-top: auto;
            }
        }
    }
    .form-inner {
        // forms in one column
        max-width: 460px;
        padding-left: 40px;
        margin: 0 auto;
        @media (max-width: $screen-sm-max) {
            padding-left: 0;
        }
    }
}

.form-group {
    // minimize spacing between fields on smaller screens
    @media (max-width: $screen-md-max) {
        margin-bottom: 14px;
    }
}

.panel.form-narrow {
    padding: 0;
    .panel-body {
        padding: 30px 40px 10px 40px;
    }
}

.login {
    display: table-cell;
    vertical-align: middle;
}

.input-group {
    width: 100% !important;
}

.navbar .navbar-brand {
    font-weight: 600;
    margin: 0px 0px;
    padding: 0 !important;
    font-size: 20px;
    font-style: bold;
    color: black !important;
}

.navbar-right {
    font-weight: 600;
    margin: 6px 0px;
    font-size: 20px;
}

.navbar-toggle .icon-bar {
    display: block;
    position: relative;
    background: #FFFFFF;
    width: 24px;
    height: 2px;
    border-radius: 1px;
    margin: 0 auto;
}

.navbar-toggle-black .icon-bar {
    background: #9A9A9A;
}

.navbar-header .navbar-toggle {
    margin: 17px 15px 17px 0;
    height: 40px;
}

.navbar-header {
    background: transparent;
}

.navbar-default {
    background: #2e2763;
}

.navbar-default>li>a {
    color: white !important;
}

// .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
//     color: #000; /*Sets the text hover color on navbar*/
// }
// .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
//         a:hover, .navbar-default .navbar-nav > .active > a:focus {
//     color: white; /*BACKGROUND color for active*/
//     background-color: #030033;
// }
// .navbar-default {
//     background-color: #0f006f;
//     border-color: #030033;
// }
// .dropdown-menu > li > a:hover,
// .dropdown-menu > li > a:focus {
//     color: #262626;
//     text-decoration: none;
//     background-color: #66CCFF; /*change color of links in drop down here*/
// }
// .nav > li > a:hover,
// .nav > li > a:focus {
//     color: white !important;
//     text-decoration: none;
//     background-color: silver; /*Change rollover cell color here*/
// }
.navbar-default .navbar-nav>li>a {
    color: white !important;
}

body {
    // background-image: url(http://nationaloil.co.ke/wp-content/uploads/2018/04/bgg.jpg)
    background: linear-gradient( rgba(88, 94, 44, 0.3), rgba(88, 94, 44, 0.45)), url(http://nationaloil.co.ke/wp-content/uploads/2018/04/bgg.jpg);
}